/* Importing Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Basic resets and background setup */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #000428 0%, #004e92 100%);
}

/* Header styling */
.header {
    position: relative;
    padding: 20px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header h1 {
    color: white;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 3em; /* Large font size */
}

/* Login icon in the header */
.login-icon {
    position: absolute;
    top: 30px;
    right: 30px;
    color: white;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}

/* Revenue section styling */
.revenue-section {
    text-align: center;
    margin-bottom: 20px;
}

.revenue-section h2 {
    font-weight: 400;
    display: inline-block;
    color: #fff;
    margin: 0 10px;
}

.revenue-section h2.solid {
    color: #fff;
}

.revenue-section h2.risk {
    color: #F08B01; /* Orange for risks */
}

.revenue-section h2.terminated {
    color: #D25E5E; /* Red for terminated */
}

/* Forecast metrics styling */
.revenue-section h2.forecast {
    color: #808080; /* Grey color */
    font-size: 16px;
}

/* Container and column layout */
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    height: calc(100vh - 200px);
    overflow: hidden;
}

.columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    height: 100%;
}

/* Pod styling */
.pod {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 700px;
    overflow-y: scroll; /* Allow vertical scrolling */
}

.pod-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pod-name {
    font-weight: bold;
    font-size: 1.2em;
}

.pod-icons {
    display: flex;
    gap: 5px;
}

.pod-stats {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 15px;
}

/* Button styling */
button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

/* Add-pod button specific styling */
.add-pod {
    background-color: #28a745;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.add-pod:hover {
    background-color: #218838;
}
