/* styles.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #000428 0%, #004e92 100%);
}

.header {
    padding: 0px;
    marging-bottom: 0px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header h1 {
    color: white;
    text-align: center;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 3em; /* Large font size */
}
.revenue-section {
    text-align: center;
    margin-bottom: 20px;
}

.revenue-section h2 {
    font-weight: 400;
    display: inline-block;
    color: #fff;
    margin: 0 10px;
}

.revenue-section h2.solid {
    color: #fff;
}

.revenue-section h2.risk {
    color: #F08B01;
}

/* styles.css */
.drop-zone {
    min-height: 50px;
    border: 2px dashed #ccc;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hidden {
    display: none !important;
}




.revenue-section h2.terminated {
    color: #D25E5E;
}

.input-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    padding-top: 10px; /* Increased padding */
}

input, button {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;

}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin-top: 20px;
    height: calc(100vh - 200px);
    overflow: hidden;
}

.columns {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    height: 100%;
}

.pod {
    background-color: #fff;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
    height: 700px;
    overflow-y: scroll; /* Allow vertical scrolling */
}

.pod::-webkit-scrollbar {
    width: 4px; /* Width of the scrollbar */
}

.pod::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
}

.pod::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 7px; /* Rounded corners for the scrollbar thumb */
}

.pod::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
}

/* For Firefox */
.pod {
    scrollbar-width: thin; /* Thin scrollbar width */
    scrollbar-color: #888 #f1f1f1; /* Scrollbar thumb and track color */
}


.pod-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pod-name {
    font-weight: bold;
    font-size: 1.2em;
}

.pod-icons {
    display: flex;
    gap: 5px;
}

.pod-stats {
    display: flex;
    justify-content: space-between;
    font-size: 0.9em;
    font-weight: bold;
    margin-top: 10px;
    padding-bottom: 15px;
}

.revenue-section {
    text-align: center;
    margin-bottom: 20px;
}

.primary-metrics, .forecast-metrics {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.revenue-section h2.forecast {
    color: #808080; /* Grey color */
    font-size:16px;
}


.pod-stats span {
    margin-right: 10px;
}

.edit-name {
    background: none;
    border: none;
    color: #007bff;
    cursor: pointer;
    font-size: 18px;
}

.delete-pod {
    background: none;
    border: none;
    color: #dc3545;
    cursor: pointer;
    font-size: 18px;
    position: left;
    bottom: 10px;
    right: 10px;
}

/* Add this CSS for the "Forecast" status */
.client.forecast {
    background-color: #d3d3d3; /* Grey background */
    color: #696969; /* Dark grey text */
}


.clients {
    display: flex;
    flex-direction: column;
    gap: 6px;
    overflow: hidden; /* Remove the scrollbar */
}

.client {
    padding: 5px;
    border-radius: 5px;
    cursor: grab;
    user-select: none;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    overflow: hidden; /* Remove the scrollbar */
}

.client.solid {
    background-color: #004085;
    color: white;
    outline: 2px solid white;
}

.client.solid .client-details,
.client.solid .delete svg {
    color: white;
    fill: white;
}

.client.risk {
    background-color: #FAD48A;
    color: #856404;
}

.client.terminated {
    background-color: #f8d7da;
    color: #721c24;
}

.client-info {
    font-weight: bold;
    margin-right: 10px;
    padding-left:10px;
}

.client-details {
    font-size: 0.8em;
    color: #666;
    margin-right: 10px;
}

.client .status-buttons {
    display: flex;
    gap: 5px;
    margin-right: 10px;
}

.client .status-button {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.client .status-button.solid {
    background-color: #004085;
    color: white;
    outline: 2px solid white;
}

.client .status-button.risk {
    background-color: #ffeeba;
    color: #856404;
}

.client .status-button.terminated {
    background-color: #f8d7da;
    color: #721c24;
}

.client .edit {
    background: none;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

.client .edit:hover {
    color: #0a800;
}

.client .delete {
    background: none;
    border: none;
    cursor: pointer;
}

.client .delete:hover {
    color: #c82333;
}

.add-pod {
    background-color: #28a745;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.add-pod:hover {
    background-color: #218838;
}

/* styles.css */

/* Add these styles for the password section */
#password-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #000428 0%, #004e92 100%);
}

#password-section h1 {
    color: white;
    font-size: 3em; /* Extra large text */
    text-align: center;
    margin-bottom: 20px;
}

#password-section input[type="password"] {
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.2em; /* Larger text for the input */
    text-align: center;
}

#password-section button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 1.2em; /* Larger text for the button */
    margin-top: 10px;
}

#password-section button:hover {
    background-color: #0056b3;
}
